 <br>
  <br>
  <h2 class="mb-5 font-medium text-gray-800 dark:text-neutral-200">
    Educacion
  </h2>
<!-- Grid -->
<div class="grid grid-cols-1 sm:grid-cols-2 gap-3">
  <div class="p-4 border border-gray-200 rounded-lg dark:border-neutral-700">
    <img class="shrink-0 size-10 mb-3" width="123" height="147" src="https://scontent.ffdo24-3.fna.fbcdn.net/v/t39.30808-1/516867172_1287521223378496_4079357438289999589_n.jpg?stp=c214.73.362.361a_dst-jpg_s361x361_tt6&_nc_cat=106&ccb=1-7&_nc_sid=2d3e12&_nc_ohc=t1CTHzldSoYQ7kNvwFl3YJw&_nc_oc=Adns3BAoNgpGp5kbhXpyKd9ScTvHKq8-DEUXUhxBvwucBoofN7p8c1ZWOuGm8bZqa_aIR72DF4WbiOoYnWJ83B3w&_nc_zt=24&_nc_ht=scontent.ffdo24-3.fna&_nc_gid=Qv6gmL3JNizvOByDv5wmaw&oh=00_AfhlGXrsPa875Q-sOoh45mOpHXlViXcQiWnTuK7KBqYCVw&oe=69201129" alt="Sistemas Activos">

    <h3 class="mb-1 text-xs text-gray-600 dark:text-neutral-400">
      2022 - 2023
    </h3>

    <p class="font-semibold text-sm text-gray-800 dark:text-neutral-200">
      Capacitación en Spring Boot y Microservicios
    </p>

    <p class="mt-1 text-sm text-gray-600 dark:text-neutral-400">
      Sistemas Activos
    </p>
  </div>

  <div class="p-4 border border-gray-200 rounded-lg dark:border-neutral-700">
    <img class="shrink-0 size-10 mb-3" width="123" height="147" src="//upload.wikimedia.org/wikipedia/commons/thumb/f/f9/UBA.svg/120px-UBA.svg.png" alt="">

    <h3 class="mb-1 text-xs text-gray-600 dark:text-neutral-400">
      2019-En curso
    </h3>

    <p class="font-semibold text-sm text-gray-800 dark:text-neutral-200">
       Sistemas de la Información
    </p>

    <p class="mt-1 text-sm text-gray-600 dark:text-neutral-400">
      Universidad de Buenos Aires
    </p>
  </div>

    <div class="p-4 border border-gray-200 rounded-lg dark:border-neutral-700">
    <img class="shrink-0 size-10 mb-3" width="123" height="147" src="https://d1psgljc389n8q.cloudfront.net/bootcamps/logos/Otdb2Nga3" alt="">

    <h3 class="mb-1 text-xs text-gray-600 dark:text-neutral-400">
      2021-2022
    </h3>

    <p class="font-semibold text-sm text-gray-800 dark:text-neutral-200">
       Bootcamp FullStack
    </p>

    <p class="mt-1 text-sm text-gray-600 dark:text-neutral-400">
      MindHub
    </p>
  </div>
</div>
<!-- End Grid -->
