 <br>
  <br>
<h2 class="mb-5 font-medium text-gray-800 dark:text-neutral-200">
  Habilidades Tecnológicas
</h2>

<div class="space-y-6">
  <!-- Lenguajes -->
  <dl class="flex flex-col gap-1">
    <dt class="text-sm text-gray-500 dark:text-neutral-500">Lenguajes de Programación:</dt>
    <dd>
      <ul class="flex flex-wrap gap-4 mt-2">
        <li class="flex items-center text-sm text-gray-800 dark:text-neutral-200">
          <span class="inline-block w-2 h-2 bg-blue-500 rounded-full mr-2"></span> HTML
        </li>
        <li class="flex items-center text-sm text-gray-800 dark:text-neutral-200">
          <span class="inline-block w-2 h-2 bg-yellow-500 rounded-full mr-2"></span> CSS
        </li>
        <li class="flex items-center text-sm text-gray-800 dark:text-neutral-200">
          <span class="inline-block w-2 h-2 bg-green-500 rounded-full mr-2"></span> JavaScript
        </li>
        <li class="flex items-center text-sm text-gray-800 dark:text-neutral-200">
          <span class="inline-block w-2 h-2 bg-red-500 rounded-full mr-2"></span> Java
        </li>
        <li class="flex items-center text-sm text-gray-800 dark:text-neutral-200">
          <span class="inline-block w-2 h-2 bg-purple-500 rounded-full mr-2"></span> C#
        </li>
        <li class="flex items-center text-sm text-gray-800 dark:text-neutral-200">
          <span class="inline-block w-2 h-2 bg-indigo-500 rounded-full mr-2"></span> SQL
        </li>
      </ul>
    </dd>
  </dl>

  <!-- Frameworks -->
  <dl class="flex flex-col gap-1">
    <dt class="text-sm text-gray-500 dark:text-neutral-500">Frameworks y Bibliotecas:</dt>
    <dd>
      <ul class="flex flex-wrap gap-4 mt-2">
        <li class="flex items-center text-sm text-gray-800 dark:text-neutral-200">
          <span class="inline-block w-2 h-2 bg-red-600 rounded-full mr-2"></span> Angular
        </li>
        <li class="flex items-center text-sm text-gray-800 dark:text-neutral-200">
          <span class="inline-block w-2 h-2 bg-green-600 rounded-full mr-2"></span> Vue.js
        </li>
        <li class="flex items-center text-sm text-gray-800 dark:text-neutral-200">
          <span class="inline-block w-2 h-2 bg-teal-500 rounded-full mr-2"></span> Bootstrap
        </li>
        <li class="flex items-center text-sm text-gray-800 dark:text-neutral-200">
          <span class="inline-block w-2 h-2 bg-orange-500 rounded-full mr-2"></span> Spring Boot
        </li>
        <li class="flex items-center text-sm text-gray-800 dark:text-neutral-200">
          <span class="inline-block w-2 h-2 bg-pink-500 rounded-full mr-2"></span> GSAP
        </li>
      </ul>
    </dd>
  </dl>

  <!-- Bases de Datos -->
  <dl class="flex flex-col gap-1">
    <dt class="text-sm text-gray-500 dark:text-neutral-500">Bases de Datos:</dt>
    <dd>
      <ul class="flex flex-wrap gap-4 mt-2">
        <li class="text-sm text-gray-800 dark:text-neutral-200">SQL Server</li>
        <li class="text-sm text-gray-800 dark:text-neutral-200">MySQL</li>
        <li class="text-sm text-gray-800 dark:text-neutral-200">PostgreSQL</li>
      </ul>
    </dd>
  </dl>

  <!-- Arquitectura -->
  <dl class="flex flex-col gap-1">
    <dt class="text-sm text-gray-500 dark:text-neutral-500">Arquitectura y Metodologías:</dt>
    <dd>
      <ul class="flex flex-wrap gap-4 mt-2">
        <li class="text-sm text-gray-800 dark:text-neutral-200">Microservicios</li>
        <li class="text-sm text-gray-800 dark:text-neutral-200">APIs RESTful</li>
        <li class="text-sm text-gray-800 dark:text-neutral-200">Arquitectura basada en servicios</li>
      </ul>
    </dd>
  </dl>

  <!-- Herramientas -->
  <dl class="flex flex-col gap-1">
    <dt class="text-sm text-gray-500 dark:text-neutral-500">Herramientas de Desarrollo y Testing:</dt>
    <dd>
      <ul class="flex flex-wrap gap-4 mt-2">
        <li class="text-sm text-gray-800 dark:text-neutral-200">Docker</li>
        <li class="text-sm text-gray-800 dark:text-neutral-200">GitHub</li>
        <li class="text-sm text-gray-800 dark:text-neutral-200">Postman</li>
        <li class="text-sm text-gray-800 dark:text-neutral-200">JMeter</li>
        <li class="text-sm text-gray-800 dark:text-neutral-200">Swagger</li>
      </ul>
    </dd>
  </dl>

  <!-- Prácticas -->
  <dl class="flex flex-col gap-1">
    <dt class="text-sm text-gray-500 dark:text-neutral-500">Prácticas de Desarrollo:</dt>
    <dd>
      <ul class="flex flex-wrap gap-4 mt-2">
        <li class="text-sm text-gray-800 dark:text-neutral-200">Desarrollo ágil (Scrum)</li>
      </ul>
    </dd>
  </dl>
</div>








